<%- include("./partials/header");%>
<div class="">

  <h2 class="title">Users</h2>
  <div class="users">

    <%users.forEach(user => {%>
    <div class="user">
      <div class="image">
        <%if(user.image){%>
          <img src="<%=user.image%>" alt="" />
          <%}else{%>
          <img src="./../../assets/user-image.svg" alt="" />
          <%}%>
      </div>
      <div class="user-info">
        <a href="/dashboard/users/<%=user._id%>" class="user-title" id="user-title"
          ><%=user.firstName%></a
        >
        <p>(<%=user.role%>)</p>
      </div>
      <div class="btn-container">
        <a href="/dashboard/users/delete/<%=user._id%>">
          <i class="fa-solid fa-trash"></i>
        </a>
        
      </div>
    </div>

    <%})%>

    </div>
  </div>

</div>

<%- include("./partials/footer");%>